@font-face {
  font-family: GothamRnd-Book;
  src: url("fonts/GothamRnd-Book.otf"); }
@font-face {
  font-family: GothamRnd-Light;
  src: url("fonts/GothamRnd-Light.otf"); }
@font-face {
  font-family: GothamRnd-LightIta;
  src: url("fonts/GothamRnd-LightIta.otf"); }
@font-face {
  font-family: GothamRnd-Medium;
  src: url("fonts/GothamRnd-Medium.otf"); }
@media only screen and (min-width: 1801px) {
  html {
    font-size: 10px; }

  header {
    width: 100%;
    height: 100px;
    text-align: right; }
    header .helper-social {
      display: inline-block;
      height: 100%;
      vertical-align: bottom; }
    header .social {
      padding-right: 27%;
      vertical-align: bottom; }
      header .social img {
        height: 25px;
        width: auto;
        margin-left: 40px; }

  .teaser {
    width: 100%;
    height: auto;
    text-align: center; }
    .teaser .title {
      font-family: GothamRnd-Book;
      line-height: 100px;
      font-size: 90px;
      color: #ffffff;
      font-weight: normal;
      margin: 80px 0 0 0; }
    .teaser .text {
      font-family: GothamRnd-Light;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      margin: 40px auto 0 auto;
      max-width: 40%; }
    .teaser .input-field {
      margin-top: 80px; }
      .teaser .input-field input {
        display: inline-block;
        width: 500px !important;
        height: 80px !important;
        border-width: 0;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        border-radius: 42px; }
      .teaser .input-field input[type="email"] {
        font-family: GothamRnd-Light;
        font-size: 30px;
        padding-left: 40px;
        padding-right: 100px; }
      .teaser .input-field .input-img {
        width: 82px;
        height: 82px;
        display: inline-block;
        margin-left: -85px;
        background-color: #35ac46;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .teaser .input-field img {
        width: 25px;
        height: 25px;
        margin-top: 27px;
        margin-left: 3px; }
    .teaser .transition-dots-teaser {
      margin-top: 50px; }
    .teaser .transition-dot-1, .teaser .transition-dot-2, .teaser .transition-dot-3, .teaser .transition-dot-4 {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      -webkit-transition: background 1s linear;
      -moz-transition: background 1s linear;
      -ms-transition: background 1s linear;
      -o-transition: background 1s linear;
      transition: background 1s linear; }
    .teaser .transition-dot-full {
      background-color: #ffffff; }
    .teaser .bg-image-back {
      width: 100%;
      height: 1080px;
      position: absolute;
      top: 0;
      z-index: -2;
      -webkit-transition: background 1s linear;
      -moz-transition: background 1s linear;
      -ms-transition: background 1s linear;
      -o-transition: background 1s linear;
      transition: background 1s linear; }
    .teaser .bg-image-back-1 {
      background: url(images/slide_1.jpg) 0 0 no-repeat; }
    .teaser .bg-image-back-2 {
      background: url(images/slide_2.jpg) 0 0 no-repeat; }
    .teaser .bg-image-back-3 {
      background: url(images/slide_3.jpg) 0 0 no-repeat; }
    .teaser .bg-image-back-4 {
      background: url(images/slide_4.jpg) 0 0 no-repeat; }
    .teaser .bg-image-front {
      width: 100%;
      height: 1158px;
      position: absolute;
      top: 650px;
      background: url(images/render_on_table.png) 0 0 no-repeat;
      z-index: -1; }
    .teaser .arrow-down {
      vertical-align: middle;
      margin-top: 450px;
      margin-left: 10px;
      width: 50px;
      height: auto;
      -webkit-transition: margin 0.15s linear;
      -moz-transition: margin 0.15s linear;
      -ms-transition: margin 0.15s linear;
      -o-transition: margin 0.15s linear;
      transition: margin 0.15s linear; }
      .teaser .arrow-down:hover {
        margin-top: 460px;
        cursor: pointer; }

  .section-1 {
    width: 100%;
    height: auto;
    margin-top: 735px;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #f2f6fa;
    position: relative; }
    .section-1 ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .section-1 .paragraph-1 {
      margin: 220px auto 320px 25.5%; }
    .section-1 .paragraph-2 {
      margin: 0 auto 100px 25.5%; }
    .section-1 .title {
      font-family: GothamRnd-Book;
      font-size: 40px;
      color: #1e2932;
      font-weight: normal;
      margin: 0 0 20px 0;
      max-width: 20%; }
    .section-1 .text {
      font-family: GothamRnd-Light;
      max-width: 30%;
      margin: 0;
      line-height: 1.5;
      font-size: 20px;
      color: #1e2932; }
    .section-1 img {
      width: 505px;
      height: auto;
      position: absolute;
      top: 11%;
      left: 48.5%; }

  .section-2 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative; }
    .section-2 ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .section-2 .images {
      width: 497px;
      height: 804px;
      margin-left: 25%;
      position: absolute; }
      .section-2 .images .iphone {
        position: absolute;
        z-index: -2;
        bottom: 0;
        left: 0; }
      .section-2 .images .screen {
        position: absolute;
        z-index: -1;
        bottom: 66px;
        left: 19px; }
      .section-2 .images .top {
        position: absolute;
        z-index: -3;
        top: 0;
        right: 0; }
      .section-2 .images .bottom {
        position: absolute;
        z-index: -3;
        bottom: 0;
        right: 0; }
    .section-2 .paragraph-1 {
      text-align: center;
      margin-left: 35%; }
      .section-2 .paragraph-1 img {
        width: 80px;
        height: auto; }
      .section-2 .paragraph-1 .title {
        font-family: GothamRnd-Book;
        font-size: 25px;
        color: #1e2932;
        line-height: 90%;
        font-weight: normal;
        margin: 26px 0 26px 0; }
      .section-2 .paragraph-1 .text {
        font-family: GothamRnd-Light;
        font-size: 20px;
        color: #1e2932;
        line-height: 150%;
        margin: 0 0 40px 0; }
    .section-2 .paragraph-2 {
      text-align: center;
      margin-left: 35%; }
      .section-2 .paragraph-2 img {
        width: 80px;
        height: auto; }
      .section-2 .paragraph-2 .title {
        font-family: GothamRnd-Book;
        font-size: 25px;
        color: #1e2932;
        line-height: 90%;
        font-weight: normal;
        margin: 26px 0 26px 0; }
      .section-2 .paragraph-2 .text {
        font-family: GothamRnd-Light;
        font-size: 20px;
        color: #1e2932;
        line-height: 150%;
        margin: 0 0 40px 0; }
    .section-2 .paragraph-3 {
      text-align: center;
      margin-left: 35%; }
      .section-2 .paragraph-3 img {
        width: 80px;
        height: auto; }
      .section-2 .paragraph-3 .title {
        font-family: GothamRnd-Book;
        font-size: 25px;
        color: #1e2932;
        line-height: 90%;
        font-weight: normal;
        margin: 26px 0 26px 0; }
      .section-2 .paragraph-3 .text {
        font-family: GothamRnd-Light;
        font-size: 20px;
        color: #1e2932;
        line-height: 150%;
        margin: 0 0 40px 0;
        margin-bottom: 0; }
    .section-2 .text {
      max-width: 25%;
      margin-left: auto !important;
      margin-right: auto !important; }

  .section-3 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    background-image: url("images/bg.jpg");
    background-size: 150% auto;
    background-position: -110px -360px;
    background-repeat: no-repeat; }
    .section-3 .title {
      font-family: GothamRnd-Book;
      font-size: 40px;
      color: #ffffff;
      line-height: 90%;
      font-weight: normal;
      margin: 0 0 30px 30%; }
    .section-3 .text-1 {
      font-family: GothamRnd-Light;
      font-size: 20px;
      color: #ffffff;
      line-height: 170%;
      margin: 0 0 40px 30%; }
    .section-3 .text-2 {
      font-family: GothamRnd-Light;
      font-size: 20px;
      color: #ffffff;
      line-height: 170%;
      margin: 0 0 40px 30%;
      margin-bottom: 0; }
    .section-3 .text-1, .section-3 .text-2 {
      max-width: 28%; }

  .section-4 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    text-align: center; }
    .section-4 .title {
      font-family: GothamRnd-Book;
      font-size: 40px;
      color: #1e2932;
      line-height: 120%;
      font-weight: normal;
      margin: 0 auto 30px auto;
      max-width: 50%; }
    .section-4 .text {
      font-family: GothamRnd-Light;
      font-size: 20px;
      color: #1e2932;
      line-height: 170%;
      margin: 0 auto 30px auto;
      max-width: 40%; }
    .section-4 .deutsche {
      margin-bottom: 160px; }
      .section-4 .deutsche .black-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #000000; }
      .section-4 .deutsche .red-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #dc0100; }
      .section-4 .deutsche .yellow-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #fece00; }
      .section-4 .deutsche .text {
        font-family: GothamRnd-Light;
        font-size: 16px;
        color: #1e2932;
        margin-left: 2px; }
    .section-4 .image-1 {
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: left;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_1.png");
      background-position: right bottom;
      background-repeat: no-repeat; }
    .section-4 .image-2 {
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: right;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_2.png");
      background-position: 0 60px;
      background-repeat: no-repeat; }
    .section-4 .image-3 {
      width: 100%;
      height: 370px;
      clear: both;
      background-color: #f5f8fb;
      background-image: url("images/img_3.png");
      background-position: center bottom;
      background-repeat: no-repeat; }

  .section-5 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    background-color: #2ba5ff;
    position: relative; }
    .section-5 img {
      height: 80px;
      width: auto; }
    .section-5 .v-line-1, .section-5 .v-line-2 {
      position: absolute;
      width: 0px;
      height: 100%;
      border-left: 1px solid #228ddc;
      top: 0; }
    .section-5 .v-line-1 {
      left: 39%; }
    .section-5 .v-line-2 {
      right: 39%; }
    .section-5 .icons {
      margin-bottom: 50px; }
    .section-5 ul {
      width: auto;
      list-style-type: none;
      margin: 0 auto 0 auto;
      padding: 0; }
    .section-5 li {
      display: inline-block;
      vertical-align: top;
      width: 15%; }
    .section-5 .title {
      font-family: GothamRnd-Book;
      font-size: 25px;
      color: #ffffff;
      font-weight: normal;
      margin: 0 0 20px 0; }
    .section-5 .text {
      font-family: GothamRnd-Light;
      font-size: 20px;
      color: #ffffff;
      line-height: 170%; }
    .section-5 .paragraph-2 {
      margin-left: 5%;
      margin-right: 5%; }

  .section-6 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center; }
    .section-6 img {
      width: 70px;
      height: auto; }
    .section-6 .testimonial {
      height: 100px;
      font-family: GothamRnd-LightIta;
      font-size: 20px;
      color: #1e2932;
      line-height: 170%;
      margin: 80px auto 80px auto;
      max-width: 30%; }
    .section-6 .persons_row {
      margin-bottom: 80px; }
    .section-6 .person-1, .section-6 .person-2, .section-6 .person-3, .section-6 .person-4, .section-6 .person-5, .section-6 .person-6 {
      margin-left: 50px;
      margin-right: 50px;
      display: inline-block; }
      .section-6 .person-1 img, .section-6 .person-2 img, .section-6 .person-3 img, .section-6 .person-4 img, .section-6 .person-5 img, .section-6 .person-6 img {
        width: 90px;
        height: auto;
        margin-right: 10px;
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear; }
      .section-6 .person-1 .text, .section-6 .person-2 .text, .section-6 .person-3 .text, .section-6 .person-4 .text, .section-6 .person-5 .text, .section-6 .person-6 .text {
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        text-align: left; }
      .section-6 .person-1 .name, .section-6 .person-2 .name, .section-6 .person-3 .name, .section-6 .person-4 .name, .section-6 .person-5 .name, .section-6 .person-6 .name {
        font-family: GothamRnd-Medium;
        font-size: 20px;
        color: #b3b3b3;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease; }
      .section-6 .person-1 .role, .section-6 .person-2 .role, .section-6 .person-3 .role, .section-6 .person-4 .role, .section-6 .person-5 .role, .section-6 .person-6 .role {
        font-family: GothamRnd-Light;
        font-size: 20px;
        color: #b3b3b3;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease; }
    .section-6 .person-highlighted img {
      filter: none;
      -webkit-filter: grayscale(0); }
    .section-6 .person-highlighted .name, .section-6 .person-highlighted .role {
      color: #1e2932; }
    .section-6 .transition-dots-testimonials {
      margin-top: 80px; }
    .section-6 .transition-dot-1, .section-6 .transition-dot-2, .section-6 .transition-dot-3, .section-6 .transition-dot-4, .section-6 .transition-dot-5, .section-6 .transition-dot-6 {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #b3b3b3;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      -webkit-transition: background 0.5s linear;
      -moz-transition: background 0.5s linear;
      -ms-transition: background 0.5s linear;
      -o-transition: background 0.5s linear;
      transition: background 0.5s linear; }
    .section-6 .transition-dot-full {
      background-color: #b3b3b3; }

  .section-7 {
    width: 100%;
    height: 500px;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    position: relative; }
    .section-7 .bg-image-back {
      width: 100%;
      height: 820px;
      position: absolute;
      top: 0;
      background: url(images/bg2.jpg) 0 0 no-repeat;
      z-index: -2; }
    .section-7 .bg-image-front {
      width: 20%;
      height: 280px;
      position: absolute;
      background: url(images/render.png) 0 0 no-repeat;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      margin: auto; }
    .section-7 .title {
      font-family: GothamRnd-Book;
      font-size: 60px;
      color: #ffffff;
      line-height: 60%;
      font-weight: normal;
      margin: 0; }
    .section-7 .text {
      font-family: GothamRnd-Light;
      font-size: 25px;
      color: #ffffff;
      line-height: 140%;
      margin: 40px 0 0 0; }
    .section-7 .input-field {
      margin-top: 80px; }
      .section-7 .input-field input {
        display: inline-block;
        width: 500px !important;
        height: 80px !important;
        border-width: 0;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        border-radius: 42px; }
      .section-7 .input-field input[type="email"] {
        font-family: GothamRnd-Light;
        font-size: 30px;
        padding-left: 40px;
        padding-right: 100px; }
      .section-7 .input-field .input-img {
        width: 82px;
        height: 82px;
        display: inline-block;
        margin-left: -85px;
        background-color: #35ac46;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .section-7 .input-field img {
        width: 25px;
        height: 25px;
        margin-top: 27px;
        margin-left: 3px; }

  footer {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    color: #1e2932; }
    footer .sensonium {
      display: inline-block;
      font-family: GothamRnd-Book;
      font-size: 16px;
      float: left;
      margin-left: 490px; }
    footer .impressum {
      display: inline-block;
      font-family: GothamRnd-Book;
      font-size: 16px;
      margin-left: 20px;
      float: left; }
    footer .deutsche {
      float: right;
      margin-right: 490px; }
      footer .deutsche .black-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #000000;
        margin-bottom: 3px; }
      footer .deutsche .red-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #dc0100;
        margin-bottom: 3px; }
      footer .deutsche .yellow-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #fece00;
        margin-bottom: 3px; }
      footer .deutsche .text {
        font-family: GothamRnd-Light;
        font-size: 16px;
        color: #1e2932;
        margin-left: 2px;
        color: #1e2932; } }
@media only screen and (min-width: 320px) and (max-width: 1800px) {
  html {
    font-size: 10px; }

  header {
    width: 100%;
    height: 100px;
    text-align: right; }
    header .helper-social {
      display: inline-block;
      height: 100%;
      vertical-align: bottom; }
    header .social {
      padding-right: 5%;
      vertical-align: bottom; }
      header .social img {
        height: 40%;
        width: auto;
        margin-left: 5%; }

  .teaser {
    width: 100%;
    height: auto;
    text-align: center; }
    .teaser .title {
      font-family: GothamRnd-Book;
      font-size: 6em;
      color: #ffffff;
      line-height: 80px;
      font-weight: normal;
      margin: 200px 0 0 0; }
    .teaser .text {
      font-family: GothamRnd-Light;
      font-size: 2em;
      color: #ffffff;
      line-height: 25px;
      margin: 80px 0 0 0; }
    .teaser .input-field {
      margin-top: 80px; }
      .teaser .input-field input {
        display: inline-block;
        width: 70% !important;
        height: 80px !important;
        border-width: 0;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        border-radius: 42px; }
      .teaser .input-field input[type="email"] {
        font-family: GothamRnd-Light;
        font-size: 3em;
        padding-left: 40px;
        padding-right: 100px; }
      .teaser .input-field .input-img {
        width: 82px;
        height: 82px;
        display: inline-block;
        margin-left: -85px;
        background-color: #35ac46;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .teaser .input-field img {
        width: 25px;
        height: 25px;
        margin-top: 25px;
        margin-left: 3px; }
    .teaser .transition-dots-teaser {
      margin-top: 50px; }
    .teaser .transition-dot-1, .teaser .transition-dot-2, .teaser .transition-dot-3, .teaser .transition-dot-4 {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      -webkit-transition: background 1s linear;
      -moz-transition: background 1s linear;
      -ms-transition: background 1s linear;
      -o-transition: background 1s linear;
      transition: background 1s linear; }
    .teaser .transition-dot-full {
      background-color: #ffffff; }
    .teaser .bg-image-back {
      width: 100%;
      height: 1350px;
      position: absolute;
      top: 0;
      z-index: -2;
      -webkit-transition: background 1s linear;
      -moz-transition: background 1s linear;
      -ms-transition: background 1s linear;
      -o-transition: background 1s linear;
      transition: background 1s linear; }
    .teaser .bg-image-back-1 {
      background: url(images/slide_1.jpg) 50% 0/auto 100% no-repeat; }
    .teaser .bg-image-back-2 {
      background: url(images/slide_2.jpg) 50% 0/auto 100% no-repeat; }
    .teaser .bg-image-back-3 {
      background: url(images/slide_3.jpg) 50% 0/auto 100% no-repeat; }
    .teaser .bg-image-back-4 {
      background: url(images/slide_4.jpg) 50% 0/auto 100% no-repeat; }
    .teaser .bg-image-front {
      width: 100%;
      height: 1158px;
      position: absolute;
      top: 920px;
      background: url(images/render_on_table.png) 50% 0/auto 100% no-repeat;
      z-index: -1; }
    .teaser .arrow-down {
      vertical-align: middle;
      margin-top: 450px;
      margin-left: 10px;
      width: 50px;
      height: auto;
      -webkit-transition: margin 0.15s linear;
      -moz-transition: margin 0.15s linear;
      -ms-transition: margin 0.15s linear;
      -o-transition: margin 0.15s linear;
      transition: margin 0.15s linear; }
      .teaser .arrow-down:hover {
        margin-top: 460px;
        cursor: pointer; }

  .section-1 {
    width: 100%;
    height: auto;
    margin-top: 692px;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #f2f6fa;
    text-align: center; }
    .section-1 ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .section-1 .paragraph-1 .title {
      font-family: GothamRnd-Book;
      font-size: 4em;
      color: #1e2932;
      font-weight: normal; }
    .section-1 .paragraph-1 .text {
      font-family: GothamRnd-Light;
      font-size: 2em;
      line-height: 25px;
      color: #1e2932;
      margin: 0 0 80px 0; }
    .section-1 .paragraph-2 .title {
      font-family: GothamRnd-Book;
      font-size: 4em;
      color: #1e2932;
      font-weight: normal;
      margin-top: 80px; }
    .section-1 .paragraph-2 .text {
      font-family: GothamRnd-Light;
      font-size: 2em;
      line-height: 25px;
      color: #1e2932;
      margin: 0; }
    .section-1 img {
      width: 50%;
      height: auto; }

  .section-2 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative; }
    .section-2 ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .section-2 .images {
      height: 804px;
      width: 40%;
      margin-left: -90px;
      position: absolute; }
      .section-2 .images .iphone {
        position: absolute;
        z-index: -2;
        bottom: 0;
        right: 0; }
      .section-2 .images .screen {
        position: absolute;
        z-index: -1;
        bottom: 66px;
        right: 18px; }
      .section-2 .images .top {
        position: absolute;
        z-index: -3;
        top: 0;
        left: 0; }
      .section-2 .images .bottom {
        position: absolute;
        z-index: -3;
        bottom: 0;
        left: 0; }
    .section-2 .paragraph-1 {
      text-align: center;
      margin-left: 35%; }
      .section-2 .paragraph-1 img {
        width: 80px;
        height: auto; }
      .section-2 .paragraph-1 .title {
        font-family: GothamRnd-Book;
        font-size: 25px;
        color: #1e2932;
        line-height: 90%;
        font-weight: normal;
        margin: 26px 0 26px 0;
        margin-top: 25px;
        margin-bottom: 25px; }
      .section-2 .paragraph-1 .text {
        font-family: GothamRnd-Light;
        font-size: 20px;
        color: #1e2932;
        line-height: 150%;
        margin: 0 0 40px 0; }
    .section-2 .paragraph-2 {
      text-align: center;
      margin-left: 35%; }
      .section-2 .paragraph-2 img {
        width: 80px;
        height: auto; }
      .section-2 .paragraph-2 .title {
        font-family: GothamRnd-Book;
        font-size: 25px;
        color: #1e2932;
        line-height: 90%;
        font-weight: normal;
        margin: 26px 0 26px 0; }
      .section-2 .paragraph-2 .text {
        font-family: GothamRnd-Light;
        font-size: 20px;
        color: #1e2932;
        line-height: 150%;
        margin: 0 0 40px 0; }
    .section-2 .paragraph-3 {
      text-align: center;
      margin-left: 35%; }
      .section-2 .paragraph-3 img {
        width: 80px;
        height: auto; }
      .section-2 .paragraph-3 .title {
        font-family: GothamRnd-Book;
        font-size: 25px;
        color: #1e2932;
        line-height: 90%;
        font-weight: normal;
        margin: 26px 0 26px 0; }
      .section-2 .paragraph-3 .text {
        font-family: GothamRnd-Light;
        font-size: 20px;
        color: #1e2932;
        line-height: 150%;
        margin: 0 0 40px 0;
        margin-bottom: 0; }
    .section-2 .paragraph-1, .section-2 .paragraph-2, .section-2 .paragraph-3 {
      max-width: 65%; }
      .section-2 .paragraph-1 .title, .section-2 .paragraph-1 .text, .section-2 .paragraph-2 .title, .section-2 .paragraph-2 .text, .section-2 .paragraph-3 .title, .section-2 .paragraph-3 .text {
        line-height: 25px;
        font-size: 2em; }

  .section-3 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    background-image: url("images/bg.jpg");
    background-size: 530% auto;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto; }
    .section-3 .title {
      font-family: GothamRnd-Book;
      line-height: 40px;
      font-size: 35px;
      color: #ffffff;
      font-weight: normal;
      margin: 0 0 30px 0; }
    .section-3 .text-1 {
      font-family: GothamRnd-Light;
      font-size: 20px;
      color: #ffffff;
      line-height: 170%;
      margin: 0 0 40px 30%; }
    .section-3 .text-2 {
      font-family: GothamRnd-Light;
      font-size: 20px;
      color: #ffffff;
      line-height: 170%;
      margin: 0 0 40px 30%;
      margin-bottom: 100%; }
    .section-3 .text-1, .section-3 .text-2 {
      line-height: 20px;
      font-size: 17px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }

  .section-4 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    text-align: center; }
    .section-4 .title {
      font-family: GothamRnd-Book;
      font-size: 40px;
      color: #1e2932;
      line-height: 120%;
      font-weight: normal;
      margin: 0 0 30px 0; }
    .section-4 .text {
      font-family: GothamRnd-Light;
      color: #1e2932;
      line-height: 25px;
      font-size: 24px;
      margin-bottom: 30px;
      max-width: 94%;
      margin-left: auto;
      margin-right: auto; }
    .section-4 .deutsche {
      height: 25px;
      margin-bottom: 160px; }
      .section-4 .deutsche .black-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #000000; }
      .section-4 .deutsche .red-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #dc0100; }
      .section-4 .deutsche .yellow-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #fece00; }
      .section-4 .deutsche .text {
        font-family: GothamRnd-Light;
        font-size: 16px;
        color: #1e2932;
        margin-left: 2px;
        color: #000000;
        line-height: 25px;
        font-size: 24px;
        margin-left: 10px; }
      .section-4 .deutsche .black-square, .section-4 .deutsche .red-square, .section-4 .deutsche .yellow-square {
        width: 18px;
        height: 18px;
        vertical-align: bottom; }
    .section-4 .image-1 {
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: left;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_1.png");
      background-position: right bottom;
      background-repeat: no-repeat; }
    .section-4 .image-2 {
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: right;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_2.png");
      background-position: 0 60px;
      background-repeat: no-repeat; }
    .section-4 .image-3 {
      width: 100%;
      height: 370px;
      clear: both;
      background-color: #f5f8fb;
      background-image: url("images/img_3.png");
      background-position: center bottom;
      background-repeat: no-repeat; }

  .section-5 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    background-color: #2ba5ff; }
    .section-5 img {
      height: 80px;
      width: auto; }
    .section-5 .v-line-1, .section-5 .v-line-2 {
      display: none; }
    .section-5 .icons {
      margin-bottom: 30px; }
    .section-5 ul {
      list-style-type: none;
      margin: 0 auto 0 auto;
      padding: 0 auto 0 auto; }
    .section-5 .title {
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      font-weight: normal;
      margin-bottom: 25px; }
    .section-5 .text {
      font-family: GothamRnd-Light;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 80px; }
    .section-5 .paragraph-1, .section-5 .paragraph-2, .section-5 .paragraph-3 {
      max-width: 94%; }

  .section-6 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center; }
    .section-6 img {
      width: 70px;
      height: auto; }
    .section-6 .testimonial {
      font-family: GothamRnd-LightIta;
      line-height: 25px;
      font-size: 24px;
      color: #1e2932;
      margin: 80px auto 80px auto;
      max-width: 94%; }
    .section-6 .persons_row {
      margin-bottom: 80px; }
    .section-6 .person-1, .section-6 .person-2, .section-6 .person-3, .section-6 .person-4, .section-6 .person-5, .section-6 .person-6 {
      margin-left: 50px;
      margin-right: 50px;
      display: none; }
      .section-6 .person-1 img, .section-6 .person-2 img, .section-6 .person-3 img, .section-6 .person-4 img, .section-6 .person-5 img, .section-6 .person-6 img {
        width: 90px;
        height: auto;
        margin-right: 10px;
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear; }
      .section-6 .person-1 .text, .section-6 .person-2 .text, .section-6 .person-3 .text, .section-6 .person-4 .text, .section-6 .person-5 .text, .section-6 .person-6 .text {
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        text-align: left; }
      .section-6 .person-1 .name, .section-6 .person-2 .name, .section-6 .person-3 .name, .section-6 .person-4 .name, .section-6 .person-5 .name, .section-6 .person-6 .name {
        font-family: GothamRnd-Medium;
        line-height: 20px;
        font-size: 19px;
        color: #b3b3b3;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease; }
      .section-6 .person-1 .role, .section-6 .person-2 .role, .section-6 .person-3 .role, .section-6 .person-4 .role, .section-6 .person-5 .role, .section-6 .person-6 .role {
        font-family: GothamRnd-Light;
        line-height: 20px;
        font-size: 19px;
        color: #b3b3b3;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease; }
    .section-6 .person-highlighted {
      display: block; }
      .section-6 .person-highlighted img {
        filter: none;
        -webkit-filter: grayscale(0); }
      .section-6 .person-highlighted .name, .section-6 .person-highlighted .role {
        color: #1e2932; }
    .section-6 .transition-dots-testimonials {
      margin-top: 80px; }
    .section-6 .transition-dot-1, .section-6 .transition-dot-2, .section-6 .transition-dot-3, .section-6 .transition-dot-4, .section-6 .transition-dot-5, .section-6 .transition-dot-6 {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #b3b3b3;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      -webkit-transition: background 0.5s linear;
      -moz-transition: background 0.5s linear;
      -ms-transition: background 0.5s linear;
      -o-transition: background 0.5s linear;
      transition: background 0.5s linear; }
    .section-6 .transition-dot-full {
      background-color: #b3b3b3; }

  .section-7 {
    width: 100%;
    height: 500px;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    position: relative; }
    .section-7 .bg-image-back {
      width: 100%;
      height: 820px;
      position: absolute;
      top: 0;
      background: url(images/bg2.jpg) 0 0 no-repeat;
      z-index: -2; }
    .section-7 .bg-image-front {
      width: 377px;
      height: 280px;
      position: absolute;
      background: url(images/render.png) 0 0 no-repeat;
      bottom: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      z-index: -1; }
    .section-7 .title {
      font-family: GothamRnd-Book;
      line-height: 60px;
      font-size: 58px;
      color: #ffffff;
      font-weight: normal;
      max-width: 94%;
      margin: 0 auto 0 auto; }
    .section-7 .text {
      font-family: GothamRnd-Light;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      margin: 40px auto 0 auto;
      max-width: 94%; }
    .section-7 .input-field {
      margin-top: 80px; }
      .section-7 .input-field input {
        display: inline-block;
        width: 500px !important;
        height: 80px !important;
        border-width: 0;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        border-radius: 42px; }
      .section-7 .input-field input[type="email"] {
        font-family: GothamRnd-Light;
        font-size: 30px;
        padding-left: 40px;
        padding-right: 100px; }
      .section-7 .input-field .input-img {
        width: 82px;
        height: 82px;
        display: inline-block;
        margin-left: -85px;
        background-color: #35ac46;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .section-7 .input-field img {
        width: 25px;
        height: 25px;
        margin-top: 25px;
        margin-left: 3px; }

  footer {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    color: #1e2932; }
    footer .sensonium {
      display: inline-block;
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      margin-left: 20%;
      float: left; }
    footer .impressum {
      display: inline-block;
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      margin-right: 20%;
      float: right; }
    footer .deutsche {
      height: 25px;
      clear: both;
      text-align: center;
      padding-top: 25px; }
      footer .deutsche .black-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #000000; }
      footer .deutsche .red-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #dc0100; }
      footer .deutsche .yellow-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #fece00; }
      footer .deutsche .text {
        font-family: GothamRnd-Light;
        font-size: 16px;
        color: #1e2932;
        margin-left: 2px;
        color: #000000;
        line-height: 25px;
        font-size: 24px;
        margin-left: 10px; }
      footer .deutsche .black-square, footer .deutsche .red-square, footer .deutsche .yellow-square {
        width: 18px;
        height: 18px;
        vertical-align: bottom; } }
@media only screen and (min-width: 320px) and (max-width: 1800px) and (orientation: landscape) {
  html {
    font-size: 10px; }

  header {
    width: 100%;
    height: 100px;
    text-align: right; }
    header .helper-social {
      display: inline-block;
      height: 100%;
      vertical-align: bottom; }
    header .social {
      padding-right: 5%;
      vertical-align: bottom; }
      header .social img {
        height: 40%;
        width: auto;
        margin-left: 5%; }

  .teaser {
    width: 100%;
    height: auto;
    text-align: center; }
    .teaser .title {
      font-family: GothamRnd-Book;
      font-size: 6em;
      color: #ffffff;
      line-height: 80px;
      font-weight: normal;
      margin: 200px 0 0 0; }
    .teaser .text {
      font-family: GothamRnd-Light;
      font-size: 2em;
      color: #ffffff;
      line-height: 25px;
      margin: 80px 0 0 0; }
    .teaser .input-field {
      margin-top: 80px; }
      .teaser .input-field input {
        display: inline-block;
        width: 70% !important;
        height: 80px !important;
        border-width: 0;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        border-radius: 42px; }
      .teaser .input-field input[type="email"] {
        font-family: GothamRnd-Light;
        font-size: 3em;
        padding-left: 40px;
        padding-right: 100px; }
      .teaser .input-field .input-img {
        width: 82px;
        height: 82px;
        display: inline-block;
        margin-left: -85px;
        background-color: #35ac46;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .teaser .input-field img {
        width: 25px;
        height: 25px;
        margin-top: 25px;
        margin-left: 3px; }
    .teaser .transition-dots-teaser {
      margin-top: 50px; }
    .teaser .transition-dot-1, .teaser .transition-dot-2, .teaser .transition-dot-3, .teaser .transition-dot-4 {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      -webkit-transition: background 1s linear;
      -moz-transition: background 1s linear;
      -ms-transition: background 1s linear;
      -o-transition: background 1s linear;
      transition: background 1s linear; }
    .teaser .transition-dot-full {
      background-color: #ffffff; }
    .teaser .bg-image-back {
      width: 100%;
      height: 1350px;
      position: absolute;
      top: 0;
      z-index: -2;
      -webkit-transition: background 1s linear;
      -moz-transition: background 1s linear;
      -ms-transition: background 1s linear;
      -o-transition: background 1s linear;
      transition: background 1s linear; }
    .teaser .bg-image-back-1 {
      background: url(images/slide_1.jpg) 50% 0/auto 100% no-repeat; }
    .teaser .bg-image-back-2 {
      background: url(images/slide_2.jpg) 50% 0/auto 100% no-repeat; }
    .teaser .bg-image-back-3 {
      background: url(images/slide_3.jpg) 50% 0/auto 100% no-repeat; }
    .teaser .bg-image-back-4 {
      background: url(images/slide_4.jpg) 50% 0/auto 100% no-repeat; }
    .teaser .bg-image-front {
      width: 100%;
      height: 1158px;
      position: absolute;
      top: 920px;
      background: url(images/render_on_table.png) 50% 0/auto 100% no-repeat;
      z-index: -1; }
    .teaser .arrow-down {
      vertical-align: middle;
      margin-top: 450px;
      margin-left: 10px;
      width: 50px;
      height: auto;
      -webkit-transition: margin 0.15s linear;
      -moz-transition: margin 0.15s linear;
      -ms-transition: margin 0.15s linear;
      -o-transition: margin 0.15s linear;
      transition: margin 0.15s linear; }
      .teaser .arrow-down:hover {
        margin-top: 460px;
        cursor: pointer; }

  .section-1 {
    width: 100%;
    height: auto;
    margin-top: 815px;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #f2f6fa;
    text-align: center; }
    .section-1 ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .section-1 .paragraph-1 .title {
      font-family: GothamRnd-Book;
      font-size: 4em;
      color: #1e2932;
      font-weight: normal; }
    .section-1 .paragraph-1 .text {
      font-family: GothamRnd-Light;
      font-size: 2em;
      line-height: 25px;
      color: #1e2932;
      margin: 0 0 80px 0; }
    .section-1 .paragraph-2 .title {
      font-family: GothamRnd-Book;
      font-size: 4em;
      color: #1e2932;
      font-weight: normal;
      margin-top: 80px; }
    .section-1 .paragraph-2 .text {
      font-family: GothamRnd-Light;
      font-size: 2em;
      line-height: 25px;
      color: #1e2932;
      margin: 0; }
    .section-1 img {
      width: 50%;
      height: auto; }

  .section-2 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative; }
    .section-2 ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .section-2 .images {
      height: 804px;
      width: 40%;
      margin-left: -90px;
      position: absolute; }
      .section-2 .images .iphone {
        position: absolute;
        z-index: -2;
        bottom: 0;
        right: 0; }
      .section-2 .images .screen {
        position: absolute;
        z-index: -1;
        bottom: 66px;
        right: 18px; }
      .section-2 .images .top {
        position: absolute;
        z-index: -3;
        top: 0;
        left: 0; }
      .section-2 .images .bottom {
        position: absolute;
        z-index: -3;
        bottom: 0;
        left: 0; }
    .section-2 .paragraph-1 {
      text-align: center;
      margin-left: 35%; }
      .section-2 .paragraph-1 img {
        width: 80px;
        height: auto; }
      .section-2 .paragraph-1 .title {
        font-family: GothamRnd-Book;
        font-size: 25px;
        color: #1e2932;
        line-height: 90%;
        font-weight: normal;
        margin: 26px 0 26px 0;
        margin-top: 25px;
        margin-bottom: 25px; }
      .section-2 .paragraph-1 .text {
        font-family: GothamRnd-Light;
        font-size: 20px;
        color: #1e2932;
        line-height: 150%;
        margin: 0 0 40px 0; }
    .section-2 .paragraph-2 {
      text-align: center;
      margin-left: 35%; }
      .section-2 .paragraph-2 img {
        width: 80px;
        height: auto; }
      .section-2 .paragraph-2 .title {
        font-family: GothamRnd-Book;
        font-size: 25px;
        color: #1e2932;
        line-height: 90%;
        font-weight: normal;
        margin: 26px 0 26px 0; }
      .section-2 .paragraph-2 .text {
        font-family: GothamRnd-Light;
        font-size: 20px;
        color: #1e2932;
        line-height: 150%;
        margin: 0 0 40px 0; }
    .section-2 .paragraph-3 {
      text-align: center;
      margin-left: 35%; }
      .section-2 .paragraph-3 img {
        width: 80px;
        height: auto; }
      .section-2 .paragraph-3 .title {
        font-family: GothamRnd-Book;
        font-size: 25px;
        color: #1e2932;
        line-height: 90%;
        font-weight: normal;
        margin: 26px 0 26px 0; }
      .section-2 .paragraph-3 .text {
        font-family: GothamRnd-Light;
        font-size: 20px;
        color: #1e2932;
        line-height: 150%;
        margin: 0 0 40px 0;
        margin-bottom: 0; }
    .section-2 .paragraph-1, .section-2 .paragraph-2, .section-2 .paragraph-3 {
      max-width: 65%; }
      .section-2 .paragraph-1 .title, .section-2 .paragraph-1 .text, .section-2 .paragraph-2 .title, .section-2 .paragraph-2 .text, .section-2 .paragraph-3 .title, .section-2 .paragraph-3 .text {
        line-height: 25px;
        font-size: 2em; }

  .section-3 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    background-image: url("images/bg.jpg");
    background-size: 530% auto;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto; }
    .section-3 .title {
      font-family: GothamRnd-Book;
      line-height: 40px;
      font-size: 35px;
      color: #ffffff;
      font-weight: normal;
      margin: 0 0 30px 0; }
    .section-3 .text-1 {
      font-family: GothamRnd-Light;
      font-size: 20px;
      color: #ffffff;
      line-height: 170%;
      margin: 0 0 40px 30%; }
    .section-3 .text-2 {
      font-family: GothamRnd-Light;
      font-size: 20px;
      color: #ffffff;
      line-height: 170%;
      margin: 0 0 40px 30%;
      margin-bottom: 100%; }
    .section-3 .text-1, .section-3 .text-2 {
      line-height: 20px;
      font-size: 17px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }

  .section-4 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    text-align: center; }
    .section-4 .title {
      font-family: GothamRnd-Book;
      font-size: 40px;
      color: #1e2932;
      line-height: 120%;
      font-weight: normal;
      margin: 0 0 30px 0; }
    .section-4 .text {
      font-family: GothamRnd-Light;
      color: #1e2932;
      line-height: 25px;
      font-size: 24px;
      margin-bottom: 30px;
      max-width: 94%;
      margin-left: auto;
      margin-right: auto; }
    .section-4 .deutsche {
      height: 25px;
      margin-bottom: 160px; }
      .section-4 .deutsche .black-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #000000; }
      .section-4 .deutsche .red-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #dc0100; }
      .section-4 .deutsche .yellow-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #fece00; }
      .section-4 .deutsche .text {
        font-family: GothamRnd-Light;
        font-size: 16px;
        color: #1e2932;
        margin-left: 2px;
        color: #000000;
        line-height: 25px;
        font-size: 24px;
        margin-left: 10px; }
      .section-4 .deutsche .black-square, .section-4 .deutsche .red-square, .section-4 .deutsche .yellow-square {
        width: 18px;
        height: 18px;
        vertical-align: bottom; }
    .section-4 .image-1 {
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: left;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_1.png");
      background-position: right bottom;
      background-repeat: no-repeat; }
    .section-4 .image-2 {
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: right;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_2.png");
      background-position: 0 60px;
      background-repeat: no-repeat; }
    .section-4 .image-3 {
      width: 100%;
      height: 370px;
      clear: both;
      background-color: #f5f8fb;
      background-image: url("images/img_3.png");
      background-position: center bottom;
      background-repeat: no-repeat; }

  .section-5 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    background-color: #2ba5ff; }
    .section-5 img {
      height: 80px;
      width: auto; }
    .section-5 .v-line-1, .section-5 .v-line-2 {
      display: none; }
    .section-5 .icons {
      margin-bottom: 30px; }
    .section-5 ul {
      list-style-type: none;
      margin: 0 auto 0 auto;
      padding: 0 auto 0 auto; }
    .section-5 .title {
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      font-weight: normal;
      margin-bottom: 25px; }
    .section-5 .text {
      font-family: GothamRnd-Light;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 80px; }
    .section-5 .paragraph-1, .section-5 .paragraph-2, .section-5 .paragraph-3 {
      max-width: 94%; }

  .section-6 {
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center; }
    .section-6 img {
      width: 70px;
      height: auto; }
    .section-6 .testimonial {
      font-family: GothamRnd-LightIta;
      line-height: 25px;
      font-size: 24px;
      color: #1e2932;
      margin: 80px auto 80px auto;
      max-width: 94%; }
    .section-6 .persons_row {
      margin-bottom: 80px; }
    .section-6 .person-1, .section-6 .person-2, .section-6 .person-3, .section-6 .person-4, .section-6 .person-5, .section-6 .person-6 {
      margin-left: 50px;
      margin-right: 50px;
      display: none; }
      .section-6 .person-1 img, .section-6 .person-2 img, .section-6 .person-3 img, .section-6 .person-4 img, .section-6 .person-5 img, .section-6 .person-6 img {
        width: 90px;
        height: auto;
        margin-right: 10px;
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear; }
      .section-6 .person-1 .text, .section-6 .person-2 .text, .section-6 .person-3 .text, .section-6 .person-4 .text, .section-6 .person-5 .text, .section-6 .person-6 .text {
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        text-align: left; }
      .section-6 .person-1 .name, .section-6 .person-2 .name, .section-6 .person-3 .name, .section-6 .person-4 .name, .section-6 .person-5 .name, .section-6 .person-6 .name {
        font-family: GothamRnd-Medium;
        line-height: 20px;
        font-size: 19px;
        color: #b3b3b3;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease; }
      .section-6 .person-1 .role, .section-6 .person-2 .role, .section-6 .person-3 .role, .section-6 .person-4 .role, .section-6 .person-5 .role, .section-6 .person-6 .role {
        font-family: GothamRnd-Light;
        line-height: 20px;
        font-size: 19px;
        color: #b3b3b3;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease; }
    .section-6 .person-highlighted {
      display: block; }
      .section-6 .person-highlighted img {
        filter: none;
        -webkit-filter: grayscale(0); }
      .section-6 .person-highlighted .name, .section-6 .person-highlighted .role {
        color: #1e2932; }
    .section-6 .transition-dots-testimonials {
      margin-top: 80px; }
    .section-6 .transition-dot-1, .section-6 .transition-dot-2, .section-6 .transition-dot-3, .section-6 .transition-dot-4, .section-6 .transition-dot-5, .section-6 .transition-dot-6 {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #b3b3b3;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      -webkit-transition: background 0.5s linear;
      -moz-transition: background 0.5s linear;
      -ms-transition: background 0.5s linear;
      -o-transition: background 0.5s linear;
      transition: background 0.5s linear; }
    .section-6 .transition-dot-full {
      background-color: #b3b3b3; }

  .section-7 {
    width: 100%;
    height: 500px;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    position: relative; }
    .section-7 .bg-image-back {
      width: 100%;
      height: 820px;
      position: absolute;
      top: 0;
      background: url(images/bg2.jpg) 0 0 no-repeat;
      z-index: -2; }
    .section-7 .bg-image-front {
      width: 377px;
      height: 280px;
      position: absolute;
      background: url(images/render.png) 0 0 no-repeat;
      bottom: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      z-index: -1; }
    .section-7 .title {
      font-family: GothamRnd-Book;
      line-height: 60px;
      font-size: 58px;
      color: #ffffff;
      font-weight: normal;
      max-width: 94%;
      margin: 0 auto 0 auto; }
    .section-7 .text {
      font-family: GothamRnd-Light;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      margin: 40px auto 0 auto;
      max-width: 94%; }
    .section-7 .input-field {
      margin-top: 80px; }
      .section-7 .input-field input {
        display: inline-block;
        width: 500px !important;
        height: 80px !important;
        border-width: 0;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        border-radius: 42px; }
      .section-7 .input-field input[type="email"] {
        font-family: GothamRnd-Light;
        font-size: 30px;
        padding-left: 40px;
        padding-right: 100px; }
      .section-7 .input-field .input-img {
        width: 82px;
        height: 82px;
        display: inline-block;
        margin-left: -85px;
        background-color: #35ac46;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      .section-7 .input-field img {
        width: 25px;
        height: 25px;
        margin-top: 25px;
        margin-left: 3px; }

  footer {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    color: #1e2932; }
    footer .sensonium {
      display: inline-block;
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      margin-left: 20%;
      float: left; }
    footer .impressum {
      display: inline-block;
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      margin-right: 20%;
      float: right; }
    footer .deutsche {
      height: 25px;
      clear: both;
      text-align: center;
      padding-top: 25px; }
      footer .deutsche .black-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #000000; }
      footer .deutsche .red-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #dc0100; }
      footer .deutsche .yellow-square {
        display: inline-block;
        vertical-align: bottom;
        width: 15px;
        height: 15px;
        margin-bottom: 6px;
        margin-left: 2px;
        margin-right: 2px;
        border-width: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #fece00; }
      footer .deutsche .text {
        font-family: GothamRnd-Light;
        font-size: 16px;
        color: #1e2932;
        margin-left: 2px;
        color: #000000;
        line-height: 25px;
        font-size: 24px;
        margin-left: 10px; }
      footer .deutsche .black-square, footer .deutsche .red-square, footer .deutsche .yellow-square {
        width: 18px;
        height: 18px;
        vertical-align: bottom; } }

/*# sourceMappingURL=style.css.map */
