@font-face {
  font-family: GothamRnd-Book;
  src: url("fonts/GothamRnd-Book.otf");
}
@font-face {
  font-family: GothamRnd-Light;
  src: url("fonts/GothamRnd-Light.otf");
}
@font-face {
  font-family: GothamRnd-LightIta;
  src: url("fonts/GothamRnd-LightIta.otf");
}
@font-face {
  font-family: GothamRnd-Medium;
  src: url("fonts/GothamRnd-Medium.otf");
}

@mixin border-radius($r){
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}
@mixin transition($arg1, $arg2, $arg3){
  -webkit-transition: $arg1 $arg2 $arg3;
  -moz-transition: $arg1 $arg2 $arg3;
  -ms-transition: $arg1 $arg2 $arg3;
  -o-transition: $arg1 $arg2 $arg3;
  transition: $arg1 $arg2 $arg3;
}
@mixin scale($s){
  -webkit-transform: scale($s);
  -moz-transform: scale($s);
  -ms-transform: scale($s);
  -o-transform: scale($s);
  transform: scale($s);
}

@mixin section-2-paragraph(){
  text-align: center;
  margin-left: 35%;
}
@mixin section-2-img(){
  width: 80px;
  height: auto;
}
@mixin section-2-title(){
  font-family: GothamRnd-Book;
  font-size: 25px;
  color: #1e2932;
  line-height: 90%;
  font-weight: normal;
  margin: 26px 0 26px 0;
}
@mixin section-2-text(){
  font-family: GothamRnd-Light;
  font-size: 20px;
  color: #1e2932;
  line-height: 150%;
  margin: 0 0 40px 0;
}
@mixin section_3-text(){
  font-family: GothamRnd-Light;
  font-size: 20px;
  color: #ffffff;
  line-height: 170%;
  margin: 0 0 40px 30%;
}
@mixin deutsche-square(){
  display: inline-block;
  vertical-align: bottom;
  width: 15px;
  height: 15px;
  margin-bottom: 6px;
  margin-left: 2px;
  margin-right: 2px;
  border-width: 0px;
  @include border-radius(2px);
}
@mixin deutsche-text(){
  font-family: GothamRnd-Light;
  font-size: 16px;
  color: #1e2932;;
  margin-left: 2px;
}

@media only screen and (min-width: 1801px) {

  html{
    font-size: 10px;
  }

  header{
    width: 100%;
    height: 100px;
    text-align: right;
    .helper-social{
      display: inline-block;
      height: 100%;
      vertical-align: bottom;
    }
    .social{
      padding-right: 27%;
      vertical-align: bottom;
      img{
        height: 25px;
        width: auto;
        margin-left: 40px;
      }
    }
  }

  .teaser{
    width: 100%;
    height: auto;
    text-align: center;
    .title{
      font-family: GothamRnd-Book;
      line-height: 100px;
      font-size: 90px;
      color: #ffffff;
      font-weight: normal;
      margin: 80px 0 0 0;
    }
    .text{
      font-family: GothamRnd-Light;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      margin: 40px auto 0 auto;
      max-width: 40%;
    }
    .input-field{
       margin-top: 80px;
       input{
         display: inline-block;
         width: 500px !important;
         height: 80px !important;
         border-width: 0;
         @include border-radius(42px);
       }
       input[type="email"]{
         font-family: GothamRnd-Light;
         font-size: 30px;
         padding-left: 40px;
         padding-right: 100px;
       }
       .input-img{
         width: 82px;
         height: 82px;
         display: inline-block;
         margin-left: -85px;
         background-color: #35ac46;
         @include border-radius(50%);
       }
       img{
         width: 25px;
         height: 25px;
         margin-top: 27px;
         margin-left: 3px;
       }
     }
    .transition-dots-teaser{
      margin-top: 50px;
    }
    .transition-dot-1, .transition-dot-2, .transition-dot-3, .transition-dot-4{
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      @include transition(background, 1s, linear);
    }
    .transition-dot-full{
      background-color: #ffffff;
    }
    .bg-image-back{
      width: 100%;
      height: 1080px;
      position: absolute;
      top: 0;
      z-index: -2;
      @include transition(background, 1s, linear);
    }
    .bg-image-back-1{
      background: url(images/slide_1.jpg) 0 0 no-repeat;
    }
    .bg-image-back-2{
      background: url(images/slide_2.jpg) 0 0 no-repeat;
    }
    .bg-image-back-3{
      background: url(images/slide_3.jpg) 0 0 no-repeat;
    }
    .bg-image-back-4{
      background: url(images/slide_4.jpg) 0 0 no-repeat;
    }
    .bg-image-front{
      width: 100%;
      height: 1158px;
      position: absolute;
      top: 650px;
      background: url(images/render_on_table.png) 0 0 no-repeat;
      z-index: -1;
    }
    .arrow-down{
      vertical-align: middle;
      margin-top: 450px;
      margin-left: 10px;
      width: 50px;
      height: auto;
      @include transition(margin, 0.15s, linear);
      &:hover{
        margin-top: 460px;
        cursor: pointer;
      }
    }
  }

  .section-1{
    width: 100%;
    height: auto;
    margin-top: 735px;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #f2f6fa;
    position: relative;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .paragraph-1{
      margin: 220px auto 320px 25.5%;
    }
    .paragraph-2 {
      margin: 0 auto 100px 25.5%;
    }
    .title{
      font-family: GothamRnd-Book;
      font-size: 40px;
      color: #1e2932;
      font-weight: normal;
      margin: 0 0 20px 0;
      max-width: 20%;
    }
    .text{
      font-family: GothamRnd-Light;
      max-width: 30%;
      margin: 0;
      line-height: 1.5;
      font-size: 20px;
      color: #1e2932;
    }
    img{
      width: 505px;
      height: auto;
      position: absolute;
      top: 11%;
      left: 48.5%;
    }
  }

  .section-2{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .images{
      width: 497px;
      height: 804px;
      margin-left: 25%;
      position: absolute;
      .iphone{
        position: absolute;
        z-index: -2;
        bottom: 0;
        left: 0;
      }
      .screen{
        position: absolute;
        z-index: -1;
        bottom: 66px;
        left: 19px;
      }
      .top{
        position: absolute;
        z-index: -3;
        top: 0;
        right: 0;
      }
      .bottom{
        position: absolute;
        z-index: -3;
        bottom: 0;
        right: 0;
      }
    }
    .paragraph-1{
      @include section-2-paragraph;
      img{
        @include section-2-img;
      }
      .title{
        @include section-2-title;
      }
      .text{
        @include section-2-text;
      }
    }
    .paragraph-2{
      @include section-2-paragraph;
      img{
        @include section-2-img;
      }
      .title{
        @include section-2-title;
      }
      .text{
        @include section-2-text;
      }
    }
    .paragraph-3{
      @include section-2-paragraph;
      img{
        @include section-2-img;
      }
      .title{
        @include section-2-title;
      }
      .text{
        @include section-2-text;
        margin-bottom: 0;
      }
    }
    .text{
      max-width: 25%;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  .section-3{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    background-image: url("images/bg.jpg");
    background-size: 150% auto;
    background-position: -110px -360px;
    background-repeat: no-repeat;
    .title{
      font-family: GothamRnd-Book;
      font-size: 40px;
      color: #ffffff;
      line-height: 90%;
      font-weight: normal;
      margin: 0 0 30px 30%;
    }
    .text-1{
      @include section_3-text;
    }
    .text-2{
      @include section_3-text;
      margin-bottom: 0;
    }
    .text-1, .text-2{
      max-width: 28%;
    }
  }

  .section-4{
    width: 100%;
    height: auto;
    padding-top: 160px;
    text-align: center;
    .title{
      font-family: GothamRnd-Book;
      font-size: 40px;
      color: #1e2932;
      line-height: 120%;
      font-weight: normal;
      margin: 0 auto 30px auto;
      max-width: 50%;
    }
    .text{
      font-family: GothamRnd-Light;
      font-size: 20px;
      color: #1e2932;;
      line-height: 170%;
      margin: 0 auto 30px auto;
      max-width: 40%;
    }
    .deutsche{
      margin-bottom: 160px;
      .black-square{
        @include deutsche-square;
        background-color: #000000;
      }
      .red-square{
        @include deutsche-square;
        background-color: #dc0100;
      }
      .yellow-square{
        @include deutsche-square;
        background-color: #fece00;
      }
      .text{
        @include deutsche-text;
      }
    }
    .image-1{
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: left;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_1.png");
      background-position: right bottom;
      background-repeat: no-repeat;
    }
    .image-2{
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: right;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_2.png");
      background-position: 0 60px;
      background-repeat: no-repeat;
    }
    .image-3{
      width: 100%;
      height: 370px;
      clear: both;
      background-color: #f5f8fb;
      background-image: url("images/img_3.png");
      background-position: center bottom;
      background-repeat: no-repeat;
    }
  }

  .section-5{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    background-color: #2ba5ff;
    position: relative;
    img{
      height: 80px;
      width: auto;
    }
    .v-line-1, .v-line-2{
      position: absolute;
      width: 0px;
      height: 100%;
      border-left: 1px solid #228ddc;
      top: 0;
    }
    .v-line-1{
      left: 39%;
    }
    .v-line-2{
      right: 39%;
    }
    .icons{
      margin-bottom: 50px;
    }
    ul{
      width: auto;
      list-style-type: none;
      margin: 0 auto 0 auto;
      padding: 0;
    }
    li{
      display: inline-block;
      vertical-align: top;
      width: 15%;
    }
    .title{
      font-family: GothamRnd-Book;
      font-size: 25px;
      color: #ffffff;
      font-weight: normal;
      margin: 0 0 20px 0;
    }
    .text{
      font-family: GothamRnd-Light;
      font-size: 20px;
      color: #ffffff;
      line-height: 170%;
    }
    .paragraph-2{
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  .section-6{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    img{
      width: 70px;
      height: auto;
    }
    .testimonial{
      height: 100px;
      font-family: GothamRnd-LightIta;
      font-size: 20px;
      color: #1e2932;
      line-height: 170%;
      margin: 80px auto 80px auto;
      max-width: 30%;
    }
    .persons_row{
      margin-bottom: 80px;
    }
    .person-1, .person-2, .person-3, .person-4, .person-5, .person-6{
      margin-left: 50px;
      margin-right: 50px;
      display: inline-block;
      img{
        width: 90px;
        height: auto;
        margin-right: 10px;
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        @include border-radius(50%);
        @include transition(all, 0.5s, linear);
      }
      .text{
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        text-align: left;
      }
      .name{
        font-family: GothamRnd-Medium;
        font-size: 20px;
        color: #b3b3b3;
        @include transition(color, 0.5s, ease);
      }
      .role{
        font-family: GothamRnd-Light;
        font-size: 20px;
        color: #b3b3b3;
        @include transition(color, 0.5s, ease);
      }
    }
    .person-highlighted{
      img{
        filter: none;
        -webkit-filter: grayscale(0);
      }
      .name, .role{
        color: #1e2932;
      }
    }
    .transition-dots-testimonials{
      margin-top: 80px;
    }
    .transition-dot-1, .transition-dot-2, .transition-dot-3, .transition-dot-4, .transition-dot-5, .transition-dot-6{
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #b3b3b3;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      @include transition(background, 0.5s, linear);
    }
    .transition-dot-full{
      background-color: #b3b3b3;
    }
  }

  .section-7{
    width: 100%;
    height: 500px;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    position: relative;
    .bg-image-back{
      width: 100%;
      height: 820px;
      position: absolute;
      top: 0;
      background: url(images/bg2.jpg) 0 0 no-repeat;
      z-index: -2;
    }
    .bg-image-front{
      width: 20%;
      height: 280px;
      position: absolute;
      background: url(images/render.png) 0 0 no-repeat;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      margin: auto;
    }
    .title{
      font-family: GothamRnd-Book;
      font-size: 60px;
      color: #ffffff;
      line-height: 60%;
      font-weight: normal;
      margin: 0;
    }
    .text{
      font-family: GothamRnd-Light;
      font-size: 25px;
      color: #ffffff;
      line-height: 140%;
      margin: 40px 0 0 0;
    }
    .input-field{
      margin-top: 80px;
      input{
        display: inline-block;
        width: 500px !important;
        height: 80px !important;
        border-width: 0;
        @include border-radius(42px);
      }
      input[type="email"]{
        font-family: GothamRnd-Light;
        font-size: 30px;
        padding-left: 40px;
        padding-right: 100px;
      }
      .input-img{
        width: 82px;
        height: 82px;
        display: inline-block;
        margin-left: -85px;
        background-color: #35ac46;
        @include border-radius(50%);
      }
      img{
        width: 25px;
        height: 25px;
        margin-top: 27px;
        margin-left: 3px;
      }
    }
  }

  footer{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    color: #1e2932;
    .sensonium{
      display: inline-block;
      font-family: GothamRnd-Book;
      font-size: 16px;
      float: left;
      margin-left: 490px;
    }
    .impressum{
      display: inline-block;
      font-family: GothamRnd-Book;
      font-size: 16px;
      margin-left: 20px;
      float: left;
    }
    .deutsche{
      float: right;
      margin-right: 490px;
      .black-square{
        @include deutsche-square;
        background-color: #000000;
        margin-bottom: 3px;
      }
      .red-square{
        @include deutsche-square;
        background-color: #dc0100;
        margin-bottom: 3px;
      }
      .yellow-square{
        @include deutsche-square;
        background-color: #fece00;
        margin-bottom: 3px;
      }
      .text{
        @include deutsche-text;
        color: #1e2932;
      }
    }
  }

}

@media only screen and (min-width: 320px) and (max-width: 1800px){

  html{
    font-size: 10px;
  }

  header{
    width: 100%;
    height: 100px;
    text-align: right;
    .helper-social{
      display: inline-block;
      height: 100%;
      vertical-align: bottom;
    }
    .social{
      padding-right: 5%;
      vertical-align: bottom;
      img{
        height: 40%;
        width: auto;
        margin-left: 5%;
      }
    }
  }

  .teaser{
    width: 100%;
    height: auto;
    text-align: center;
    .title{
      font-family: GothamRnd-Book;
      font-size: 6em;
      color: #ffffff;
      line-height: 80px;
      font-weight: normal;
      margin: 200px 0 0 0;
    }
    .text{
      font-family: GothamRnd-Light;
      font-size: 2em;
      color: #ffffff;
      line-height: 25px;
      margin: 80px 0 0 0;
    }
    .input-field{
      margin-top: 80px;
      input{
        display: inline-block;
        width: 70% !important;
        height: 80px !important;
        border-width: 0;
        @include border-radius(42px);
      }
      input[type="email"]{
        font-family: GothamRnd-Light;
        font-size: 3em;
        padding-left: 40px;
        padding-right: 100px;
      }
      .input-img{
        width: 82px;
        height: 82px;
        display: inline-block;
        margin-left: -85px;
        background-color: #35ac46;
        @include border-radius(50%);
      }
      img{
        width: 25px;
        height: 25px;
        margin-top: 25px;
        margin-left: 3px;
      }
    }
    .transition-dots-teaser{
      margin-top: 50px;
    }
    .transition-dot-1, .transition-dot-2, .transition-dot-3, .transition-dot-4{
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      @include transition(background, 1s, linear);
    }
    .transition-dot-full{
      background-color: #ffffff;
    }
    .bg-image-back{
      width: 100%;
      height: 1350px;
      position: absolute;
      top: 0;
      z-index: -2;
      @include transition(background, 1s, linear);
    }
    .bg-image-back-1{
      background: url(images/slide_1.jpg) 50% 0/auto 100% no-repeat;
    }
    .bg-image-back-2{
      background: url(images/slide_2.jpg) 50% 0/auto 100% no-repeat;
    }
    .bg-image-back-3{
      background: url(images/slide_3.jpg) 50% 0/auto 100% no-repeat;
    }
    .bg-image-back-4{
      background: url(images/slide_4.jpg) 50% 0/auto 100% no-repeat;
    }
    .bg-image-front{
      width: 100%;
      height: 1158px;
      position: absolute;
      top: 920px;
      background: url(images/render_on_table.png) 50% 0/auto 100% no-repeat;
      z-index: -1;
    }
    .arrow-down{
      vertical-align: middle;
      margin-top: 450px;
      margin-left: 10px;
      width: 50px;
      height: auto;
      @include transition(margin, 0.15s, linear);
      &:hover{
        margin-top: 460px;
        cursor: pointer;
      }
    }
  }

  .section-1{
    width: 100%;
    height: auto;
    margin-top: 692px;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #f2f6fa;
    text-align: center;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .paragraph-1{
      .title{
        font-family: GothamRnd-Book;
        font-size: 4em;
        color: #1e2932;
        font-weight: normal;
      }
      .text{
        font-family: GothamRnd-Light;
        font-size: 2em;
        line-height: 25px;
        color: #1e2932;
        margin: 0 0 80px 0;
      }
    }
    .paragraph-2{
      .title{
        font-family: GothamRnd-Book;
        font-size: 4em;
        color: #1e2932;
        font-weight: normal;
        margin-top: 80px;
      }
      .text{
        font-family: GothamRnd-Light;
        font-size: 2em;
        line-height: 25px;
        color: #1e2932;
        margin: 0;
      }
    }
    img{
      width: 50%;
      height: auto;
    }
  }

  .section-2{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .images{
      //width: 390px;
      //height: 804px;
      height: 804px;
      width: 40%;
      margin-left: -90px;
      position: absolute;
      .iphone{
        position: absolute;
        z-index: -2;
        bottom: 0;
        right: 0;
      }
      .screen{
        position: absolute;
        z-index: -1;
        bottom: 66px;
        right: 18px;
      }
      .top{
        position: absolute;
        z-index: -3;
        top: 0;
        left: 0;
      }
      .bottom{
        position: absolute;
        z-index: -3;
        bottom: 0;
        left: 0;
      }
    }
    .paragraph-1{
      @include section-2-paragraph;
      img{
        @include section-2-img;
      }
      .title{
        @include section-2-title;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      .text{
        @include section-2-text;
      }
    }
    .paragraph-2{
      @include section-2-paragraph;
      img{
        @include section-2-img;
      }
      .title{
        @include section-2-title;
      }
      .text{
        @include section-2-text;
      }
    }
    .paragraph-3{
      @include section-2-paragraph;
      img{
        @include section-2-img;
      }
      .title{
        @include section-2-title;
      }
      .text{
        @include section-2-text;
        margin-bottom: 0;
      }
    }
    .paragraph-1, .paragraph-2, .paragraph-3{
      max-width: 65%;
      .title, .text{
        line-height: 25px;
        font-size: 2em;
      }
    }
  }

  .section-3{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    background-image: url("images/bg.jpg");
    background-size: 530% auto;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    .title{
      font-family: GothamRnd-Book;
      line-height: 40px;
      font-size: 35px;
      color: #ffffff;
      font-weight: normal;
      margin: 0 0 30px 0;
    }
    .text-1{
      @include section_3-text;
    }
    .text-2{
      @include section_3-text;
      margin-bottom: 100%;
    }
    .text-1, .text-2{
      line-height: 20px;
      font-size: 17px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .section-4{
    width: 100%;
    height: auto;
    padding-top: 160px;
    text-align: center;
    .title{
      font-family: GothamRnd-Book;
      font-size: 40px;
      color: #1e2932;
      line-height: 120%;
      font-weight: normal;
      margin: 0 0 30px 0;
    }
    .text{
      font-family: GothamRnd-Light;
      color: #1e2932;;
      line-height: 25px;
      font-size: 24px;
      margin-bottom: 30px;
      max-width: 94%;
      margin-left: auto;
      margin-right: auto;
    }
    .deutsche{
      height: 25px;
      margin-bottom: 160px;
      .black-square{
        @include deutsche-square;
        background-color: #000000;
      }
      .red-square{
        @include deutsche-square;
        background-color: #dc0100;
      }
      .yellow-square{
        @include deutsche-square;
        background-color: #fece00;
      }
      .text{
        @include deutsche-text;
        color: #000000;
        line-height: 25px;
        font-size: 24px;
        margin-left: 10px;
      }
      .black-square, .red-square, .yellow-square{
         width: 18px;
         height: 18px;
         vertical-align: bottom;
       }
    }
    .image-1{
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: left;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_1.png");
      background-position: right bottom;
      background-repeat: no-repeat;
    }
    .image-2{
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: right;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_2.png");
      background-position: 0 60px;
      background-repeat: no-repeat;
    }
    .image-3{
      width: 100%;
      height: 370px;
      clear: both;
      background-color: #f5f8fb;
      background-image: url("images/img_3.png");
      background-position: center bottom;
      background-repeat: no-repeat;
    }
  }

  .section-5{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    background-color: #2ba5ff;
    img{
      height: 80px;
      width: auto;
    }
    .v-line-1, .v-line-2{
      display: none;
    }
    .icons{
      margin-bottom: 30px;
    }
    ul{
      list-style-type: none;
      margin: 0 auto 0 auto;
      padding: 0 auto 0 auto;
    }
    .title{
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      font-weight: normal;
      margin-bottom: 25px
    }
    .text{
      font-family: GothamRnd-Light;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 80px
    }
    .paragraph-1, .paragraph-2, .paragraph-3{
      max-width: 94%;
    }
  }

  .section-6{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    img{
      width: 70px;
      height: auto;
    }
    .testimonial{
      font-family: GothamRnd-LightIta;
      line-height: 25px;
      font-size: 24px;
      color: #1e2932;
      margin: 80px auto 80px auto;
      max-width: 94%;
    }
    .persons_row{
      margin-bottom: 80px;
    }
    .person-1, .person-2, .person-3, .person-4, .person-5, .person-6{
      margin-left: 50px;
      margin-right: 50px;
      display: none;
      img{
        width: 90px;
        height: auto;
        margin-right: 10px;
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        @include border-radius(50%);
        @include transition(all, 0.5s, linear);
      }
      .text{
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        text-align: left;
      }
      .name{
        font-family: GothamRnd-Medium;
        line-height: 20px;
        font-size: 19px;
        color: #b3b3b3;
        @include transition(color, 0.5s, ease);
      }
      .role{
        font-family: GothamRnd-Light;
        line-height: 20px;
        font-size: 19px;
        color: #b3b3b3;
        @include transition(color, 0.5s, ease);
      }
    }
    .person-highlighted{
      display: block;
      img{
        filter: none;
        -webkit-filter: grayscale(0);
      }
      .name, .role{
        color: #1e2932;
      }
    }
    .transition-dots-testimonials{
      margin-top: 80px;
    }
    .transition-dot-1, .transition-dot-2, .transition-dot-3, .transition-dot-4, .transition-dot-5, .transition-dot-6{
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #b3b3b3;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      @include transition(background, 0.5s, linear);
    }
    .transition-dot-full{
      background-color: #b3b3b3;
    }
  }

  .section-7{
    width: 100%;
    height: 500px;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    position: relative;
    .bg-image-back{
      width: 100%;
      height: 820px;
      position: absolute;
      top: 0;
      background: url(images/bg2.jpg) 0 0 no-repeat;
      z-index: -2;
    }
    .bg-image-front{
      width: 377px;
      height: 280px;
      position: absolute;
      background: url(images/render.png) 0 0 no-repeat;
      bottom: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      z-index: -1;
    }
    .title{
      font-family: GothamRnd-Book;
      line-height: 60px;
      font-size: 58px;
      color: #ffffff;
      font-weight: normal;
      max-width: 94%;
      margin: 0 auto 0 auto;
    }
    .text{
      font-family: GothamRnd-Light;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      margin: 40px auto 0 auto;
      max-width: 94%;
    }
    .input-field{
      margin-top: 80px;
      input{
        display: inline-block;
        width: 500px !important;
        height: 80px !important;
        border-width: 0;
        @include border-radius(42px);
      }
      input[type="email"]{
        font-family: GothamRnd-Light;
        font-size: 30px;
        padding-left: 40px;
        padding-right: 100px;
      }
      .input-img{
        width: 82px;
        height: 82px;
        display: inline-block;
        margin-left: -85px;
        background-color: #35ac46;
        @include border-radius(50%);
      }
      img{
        width: 25px;
        height: 25px;
        margin-top: 25px;
        margin-left: 3px;
      }
    }
  }

  footer{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    color: #1e2932;
    .sensonium{
      display: inline-block;
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      margin-left: 20%;
      float: left;
    }
    .impressum{
      display: inline-block;
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      margin-right: 20%;
      float: right;
    }
    .deutsche{
      height: 25px;
      clear: both;
      text-align: center;
      padding-top: 25px;
      .black-square{
        @include deutsche-square;
        background-color: #000000;
      }
      .red-square{
        @include deutsche-square;
        background-color: #dc0100;
      }
      .yellow-square{
        @include deutsche-square;
        background-color: #fece00;
      }
      .text{
        @include deutsche-text;
        color: #000000;
        line-height: 25px;
        font-size: 24px;
        margin-left: 10px;
      }
      .black-square, .red-square, .yellow-square{
        width: 18px;
        height: 18px;
        vertical-align: bottom;
      }
    }
  }

}

@media only screen and (min-width: 320px) and (max-width: 1800px) and (orientation: landscape){

  html{
    font-size: 10px;
  }

  header{
    width: 100%;
    height: 100px;
    text-align: right;
    .helper-social{
      display: inline-block;
      height: 100%;
      vertical-align: bottom;
    }
    .social{
      padding-right: 5%;
      vertical-align: bottom;
      img{
        height: 40%;
        width: auto;
        margin-left: 5%;
      }
    }
  }

  .teaser{
    width: 100%;
    height: auto;
    text-align: center;
    .title{
      font-family: GothamRnd-Book;
      font-size: 6em;
      color: #ffffff;
      line-height: 80px;
      font-weight: normal;
      margin: 200px 0 0 0;
    }
    .text{
      font-family: GothamRnd-Light;
      font-size: 2em;
      color: #ffffff;
      line-height: 25px;
      margin: 80px 0 0 0;
    }
    .input-field{
      margin-top: 80px;
      input{
        display: inline-block;
        width: 70% !important;
        height: 80px !important;
        border-width: 0;
        @include border-radius(42px);
      }
      input[type="email"]{
        font-family: GothamRnd-Light;
        font-size: 3em;
        padding-left: 40px;
        padding-right: 100px;
      }
      .input-img{
        width: 82px;
        height: 82px;
        display: inline-block;
        margin-left: -85px;
        background-color: #35ac46;
        @include border-radius(50%);
      }
      img{
        width: 25px;
        height: 25px;
        margin-top: 25px;
        margin-left: 3px;
      }
    }
    .transition-dots-teaser{
      margin-top: 50px;
    }
    .transition-dot-1, .transition-dot-2, .transition-dot-3, .transition-dot-4{
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      @include transition(background, 1s, linear);
    }
    .transition-dot-full{
      background-color: #ffffff;
    }
    .bg-image-back{
      width: 100%;
      height: 1350px;
      position: absolute;
      top: 0;
      z-index: -2;
      @include transition(background, 1s, linear);
    }
    .bg-image-back-1{
      background: url(images/slide_1.jpg) 50% 0/auto 100% no-repeat;
    }
    .bg-image-back-2{
      background: url(images/slide_2.jpg) 50% 0/auto 100% no-repeat;
    }
    .bg-image-back-3{
      background: url(images/slide_3.jpg) 50% 0/auto 100% no-repeat;
    }
    .bg-image-back-4{
      background: url(images/slide_4.jpg) 50% 0/auto 100% no-repeat;
    }
    .bg-image-front{
      width: 100%;
      height: 1158px;
      position: absolute;
      top: 920px;
      background: url(images/render_on_table.png) 50% 0/auto 100% no-repeat;
      z-index: -1;
    }
    .arrow-down{
      vertical-align: middle;
      margin-top: 450px;
      margin-left: 10px;
      width: 50px;
      height: auto;
      @include transition(margin, 0.15s, linear);
      &:hover{
        margin-top: 460px;
        cursor: pointer;
      }
    }
  }

  .section-1{
    width: 100%;
    height: auto;
    margin-top: 815px;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #f2f6fa;
    text-align: center;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .paragraph-1{
      .title{
        font-family: GothamRnd-Book;
        font-size: 4em;
        color: #1e2932;
        font-weight: normal;
      }
      .text{
        font-family: GothamRnd-Light;
        font-size: 2em;
        line-height: 25px;
        color: #1e2932;
        margin: 0 0 80px 0;
      }
    }
    .paragraph-2{
      .title{
        font-family: GothamRnd-Book;
        font-size: 4em;
        color: #1e2932;
        font-weight: normal;
        margin-top: 80px;
      }
      .text{
        font-family: GothamRnd-Light;
        font-size: 2em;
        line-height: 25px;
        color: #1e2932;
        margin: 0;
      }
    }
    img{
      width: 50%;
      height: auto;
    }
  }

  .section-2{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .images{
      //width: 390px;
      //height: 804px;
      height: 804px;
      width: 40%;
      margin-left: -90px;
      position: absolute;
      .iphone{
        position: absolute;
        z-index: -2;
        bottom: 0;
        right: 0;
      }
      .screen{
        position: absolute;
        z-index: -1;
        bottom: 66px;
        right: 18px;
      }
      .top{
        position: absolute;
        z-index: -3;
        top: 0;
        left: 0;
      }
      .bottom{
        position: absolute;
        z-index: -3;
        bottom: 0;
        left: 0;
      }
    }
    .paragraph-1{
      @include section-2-paragraph;
      img{
        @include section-2-img;
      }
      .title{
        @include section-2-title;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      .text{
        @include section-2-text;
      }
    }
    .paragraph-2{
      @include section-2-paragraph;
      img{
        @include section-2-img;
      }
      .title{
        @include section-2-title;
      }
      .text{
        @include section-2-text;
      }
    }
    .paragraph-3{
      @include section-2-paragraph;
      img{
        @include section-2-img;
      }
      .title{
        @include section-2-title;
      }
      .text{
        @include section-2-text;
        margin-bottom: 0;
      }
    }
    .paragraph-1, .paragraph-2, .paragraph-3{
      max-width: 65%;
      .title, .text{
        line-height: 25px;
        font-size: 2em;
      }
    }
  }

  .section-3{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    background-image: url("images/bg.jpg");
    background-size: 530% auto;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    .title{
      font-family: GothamRnd-Book;
      line-height: 40px;
      font-size: 35px;
      color: #ffffff;
      font-weight: normal;
      margin: 0 0 30px 0;
    }
    .text-1{
      @include section_3-text;
    }
    .text-2{
      @include section_3-text;
      margin-bottom: 100%;
    }
    .text-1, .text-2{
      line-height: 20px;
      font-size: 17px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .section-4{
    width: 100%;
    height: auto;
    padding-top: 160px;
    text-align: center;
    .title{
      font-family: GothamRnd-Book;
      font-size: 40px;
      color: #1e2932;
      line-height: 120%;
      font-weight: normal;
      margin: 0 0 30px 0;
    }
    .text{
      font-family: GothamRnd-Light;
      color: #1e2932;;
      line-height: 25px;
      font-size: 24px;
      margin-bottom: 30px;
      max-width: 94%;
      margin-left: auto;
      margin-right: auto;
    }
    .deutsche{
      height: 25px;
      margin-bottom: 160px;
      .black-square{
        @include deutsche-square;
        background-color: #000000;
      }
      .red-square{
        @include deutsche-square;
        background-color: #dc0100;
      }
      .yellow-square{
        @include deutsche-square;
        background-color: #fece00;
      }
      .text{
        @include deutsche-text;
        color: #000000;
        line-height: 25px;
        font-size: 24px;
        margin-left: 10px;
      }
      .black-square, .red-square, .yellow-square{
        width: 18px;
        height: 18px;
        vertical-align: bottom;
      }
    }
    .image-1{
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: left;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_1.png");
      background-position: right bottom;
      background-repeat: no-repeat;
    }
    .image-2{
      display: inline-block;
      width: 49.6%;
      height: 380px;
      float: right;
      margin-bottom: 10px;
      background-color: #f5f8fb;
      background-image: url("images/img_2.png");
      background-position: 0 60px;
      background-repeat: no-repeat;
    }
    .image-3{
      width: 100%;
      height: 370px;
      clear: both;
      background-color: #f5f8fb;
      background-image: url("images/img_3.png");
      background-position: center bottom;
      background-repeat: no-repeat;
    }
  }

  .section-5{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    background-color: #2ba5ff;
    img{
      height: 80px;
      width: auto;
    }
    .v-line-1, .v-line-2{
      display: none;
    }
    .icons{
      margin-bottom: 30px;
    }
    ul{
      list-style-type: none;
      margin: 0 auto 0 auto;
      padding: 0 auto 0 auto;
    }
    .title{
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      font-weight: normal;
      margin-bottom: 25px
    }
    .text{
      font-family: GothamRnd-Light;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 80px
    }
    .paragraph-1, .paragraph-2, .paragraph-3{
      max-width: 94%;
    }
  }

  .section-6{
    width: 100%;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    img{
      width: 70px;
      height: auto;
    }
    .testimonial{
      font-family: GothamRnd-LightIta;
      line-height: 25px;
      font-size: 24px;
      color: #1e2932;
      margin: 80px auto 80px auto;
      max-width: 94%;
    }
    .persons_row{
      margin-bottom: 80px;
    }
    .person-1, .person-2, .person-3, .person-4, .person-5, .person-6{
      margin-left: 50px;
      margin-right: 50px;
      display: none;
      img{
        width: 90px;
        height: auto;
        margin-right: 10px;
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        @include border-radius(50%);
        @include transition(all, 0.5s, linear);
      }
      .text{
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        text-align: left;
      }
      .name{
        font-family: GothamRnd-Medium;
        line-height: 20px;
        font-size: 19px;
        color: #b3b3b3;
        @include transition(color, 0.5s, ease);
      }
      .role{
        font-family: GothamRnd-Light;
        line-height: 20px;
        font-size: 19px;
        color: #b3b3b3;
        @include transition(color, 0.5s, ease);
      }
    }
    .person-highlighted{
      display: block;
      img{
        filter: none;
        -webkit-filter: grayscale(0);
      }
      .name, .role{
        color: #1e2932;
      }
    }
    .transition-dots-testimonials{
      margin-top: 80px;
    }
    .transition-dot-1, .transition-dot-2, .transition-dot-3, .transition-dot-4, .transition-dot-5, .transition-dot-6{
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #b3b3b3;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;
      @include transition(background, 0.5s, linear);
    }
    .transition-dot-full{
      background-color: #b3b3b3;
    }
  }

  .section-7{
    width: 100%;
    height: 500px;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    position: relative;
    .bg-image-back{
      width: 100%;
      height: 820px;
      position: absolute;
      top: 0;
      background: url(images/bg2.jpg) 0 0 no-repeat;
      z-index: -2;
    }
    .bg-image-front{
      width: 377px;
      height: 280px;
      position: absolute;
      background: url(images/render.png) 0 0 no-repeat;
      bottom: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      z-index: -1;
    }
    .title{
      font-family: GothamRnd-Book;
      line-height: 60px;
      font-size: 58px;
      color: #ffffff;
      font-weight: normal;
      max-width: 94%;
      margin: 0 auto 0 auto;
    }
    .text{
      font-family: GothamRnd-Light;
      line-height: 25px;
      font-size: 24px;
      color: #ffffff;
      margin: 40px auto 0 auto;
      max-width: 94%;
    }
    .input-field{
      margin-top: 80px;
      input{
        display: inline-block;
        width: 500px !important;
        height: 80px !important;
        border-width: 0;
        @include border-radius(42px);
      }
      input[type="email"]{
        font-family: GothamRnd-Light;
        font-size: 30px;
        padding-left: 40px;
        padding-right: 100px;
      }
      .input-img{
        width: 82px;
        height: 82px;
        display: inline-block;
        margin-left: -85px;
        background-color: #35ac46;
        @include border-radius(50%);
      }
      img{
        width: 25px;
        height: 25px;
        margin-top: 25px;
        margin-left: 3px;
      }
    }
  }

  footer{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    color: #1e2932;
    .sensonium{
      display: inline-block;
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      margin-left: 20%;
      float: left;
    }
    .impressum{
      display: inline-block;
      font-family: GothamRnd-Book;
      line-height: 25px;
      font-size: 24px;
      margin-right: 20%;
      float: right;
    }
    .deutsche{
      height: 25px;
      clear: both;
      text-align: center;
      padding-top: 25px;
      .black-square{
        @include deutsche-square;
        background-color: #000000;
      }
      .red-square{
        @include deutsche-square;
        background-color: #dc0100;
      }
      .yellow-square{
        @include deutsche-square;
        background-color: #fece00;
      }
      .text{
        @include deutsche-text;
        color: #000000;
        line-height: 25px;
        font-size: 24px;
        margin-left: 10px;
      }
      .black-square, .red-square, .yellow-square{
        width: 18px;
        height: 18px;
        vertical-align: bottom;
      }
    }
  }

}